body {
    background-color: 	#1b1b1b;
}

body {
    background: #000000;
    color: #ffffff;
    margin: 0;
    
}
.title {
    border: red solid;
    width: 50%;
    margin: 0 auto;
    display: flex;
}
.hub {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hub span:nth-child(2) {
    background: #FF9900;
    color: #000000;
    border-radius: 1vw;
    padding: 0 1vw 1vw 1vw;
    display: inline-block;
  }

  .btn {
    background: #FF9900;
    border-color: #FF9900;
  }
  .btn:hover {
    background: #ff9900;
    border-color: #ff9900;
  }
  .btn:active:focus{
    background: #ff9900c8;
    border-color: #ff9900c8;
  }

  .modal-body,
  .modal-header,
  .modal-footer {
    background: #000000;
  }

  .form-control,
  .form-control:focus {
    color: white;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color:#212529;
    background-clip: padding-box;
    border: solid #dee2e6;;
}


.c {
    color: white;
    border: grey solid;
    padding: 10px;
    border-radius: 10px;
    background: #41404097;
    margin-bottom: 10px;
}